body {
  font-family: 'helvetica_neue_lt_std55_roman';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  color: #131313;
  background: #f8f8f8;
}

::-webkit-scrollbar {
  width: 0.25vw;
}

::-webkit-scrollbar-thumb {
  background: #131313;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: none;
}


.spinner-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f8f8f8;
  position: relative;
}

.loading-text {
  font-size: 1vw;
  font-weight: 600;
  color: #131313;
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
}

.loader {
  width: 48px;
  height: 48px;
  position: relative;
}
.loader::before , .loader::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  width: 48em;
  height: 48em;
  background-image:
    radial-gradient(circle 10px, #131313 100%, transparent 0),
    radial-gradient(circle 10px, #131313 100%, transparent 0),
    radial-gradient(circle 10px, #131313 100%, transparent 0),
    radial-gradient(circle 10px, #131313 100%, transparent 0),
    radial-gradient(circle 10px, #131313 100%, transparent 0),
    radial-gradient(circle 10px, #131313 100%, transparent 0),
    radial-gradient(circle 10px, #131313 100%, transparent 0),
    radial-gradient(circle 10px, #131313 100%, transparent 0);
  background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
                       13em -13em, -13em -13em, 13em 13em, -13em 13em;
    background-repeat: no-repeat;
  font-size: 0.5px;
  border-radius: 50%;
  animation: blast 1s ease-in infinite;
}
.loader::after {
  font-size: 1px;
  background: #131313;
  animation: bounce 1s ease-in infinite;
}

@keyframes bounce {
  0% , 100%{ font-size: 0.75px }
  50% { font-size: 1.5px }
}
@keyframes blast {
  0% , 40% {
    font-size: 0.5px;
  }
  70% {
    opacity: 1;
    font-size: 4px;
  }
   100% {
     font-size: 6px;
    opacity: 0;
  }
}

footer {
  padding: 5vh 4vw 10vh 4vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #ededed;
}

.footer_logo {
  font-size: 1.5vw;
  font-weight: 600;
}

footer .footer_nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2vw;
  row-gap: 2vh;
}

.footer_links {
  margin-right: 10vw;
  display: flex;
  gap: 5vw;
}

footer .quick_links {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

footer a{
  font-size: 0.7vw;
  text-decoration: none;
  color: #131313;
  border-radius: 0.25vw;
  padding: 0.25vh 0.25vw;
  background-color: #fdfdfd;
  width: max-content;
  font-weight: 600;
}

.footer_copyright {
  font-size: 0.7vw;
  text-decoration: none;
  color: #131313;
  width: max-content;
  font-weight: 600;
}


footer a:hover{
    text-decoration: underline;
}

.footer_copyright {
  margin-bottom: -5vh;
}



.quantity_btn{
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  background-color: #e9e9e9c5;
  backdrop-filter: blur(20px);
  padding: 0.25vh 1vw;
  border-radius: 0.25vw;
}


.quantity_btn span:nth-of-type(1){
  font-size: 1vw;
  font-weight: 600;
}

.quantity_btn span:nth-of-type(3){
  font-size: 1vw;
  font-weight: 600;
}

.quantity_btn .btn{
  cursor: pointer;
  font-size: 1.5vw;
}



.add_lists{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  flex-direction: column;
}